client/Web References/au.com.docketplace/Adprovider.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://docketplace.com.au/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://docketplace.com.au/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://docketplace.com.au/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestAd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="new_request" type="tns:AdRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdRequest">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="store_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="currentDocket" type="tns:LocalDocket" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalDocket">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="local_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="receipt_content" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="total" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="itemList" type="tns:ArrayOfLocalDocketItem" />
          <s:element minOccurs="0" maxOccurs="1" name="localCustomer" type="tns:LocalCustomer" />
          <s:element minOccurs="1" maxOccurs="1" name="creation_datetime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocalDocketItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalDocketItem" nillable="true" type="tns:LocalDocketItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalDocketItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="product_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_barcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="unit_cost" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="customer_id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mobile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="first_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="last_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="suburb" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="postcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="grade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="barcode_id" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RequestAdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RequestAdResult" type="tns:AdResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AdResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="is_error" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="header" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="adList" type="tns:ArrayOfAdImage" />
          <s:element minOccurs="1" maxOccurs="1" name="placedad_id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAdImage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AdImage" nillable="true" type="tns:AdImage" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AdImage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="imageData" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="footer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="TestConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="new_request" type="tns:AdRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestConnectionResult" type="tns:AdResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUnsentDocket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="new_request" type="tns:AdRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUnsentDocketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertUnsentDocketResult" type="tns:AdResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateVoucher">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="new_request" type="tns:VoucherCheck" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VoucherCheck">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="store_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="voucher_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="voucher_code" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="markAsUsed" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="ValidateVoucherResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateVoucherResult" type="tns:VoucherResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VoucherResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="is_error" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="owner" type="tns:LocalCustomer" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateCustomers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newUpdate" type="tns:CustomerUpdate" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerUpdate">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="store_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="customerList" type="tns:ArrayOfLocalCustomer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocalCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalCustomer" nillable="true" type="tns:LocalCustomer" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateCustomersResult" type="tns:CustomerUpdateResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CustomerUpdateResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="is_error" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="responses" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="RequestAdSoapIn">
    <wsdl:part name="parameters" element="tns:RequestAd" />
  </wsdl:message>
  <wsdl:message name="RequestAdSoapOut">
    <wsdl:part name="parameters" element="tns:RequestAdResponse" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUnsentDocketSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUnsentDocket" />
  </wsdl:message>
  <wsdl:message name="InsertUnsentDocketSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUnsentDocketResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateVoucherSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateVoucher" />
  </wsdl:message>
  <wsdl:message name="ValidateVoucherSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateVoucherResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCustomers" />
  </wsdl:message>
  <wsdl:message name="UpdateCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCustomersResponse" />
  </wsdl:message>
  <wsdl:portType name="AdProviderSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestAd">
      <wsdl:input message="tns:RequestAdSoapIn" />
      <wsdl:output message="tns:RequestAdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input message="tns:TestConnectionSoapIn" />
      <wsdl:output message="tns:TestConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUnsentDocket">
      <wsdl:input message="tns:InsertUnsentDocketSoapIn" />
      <wsdl:output message="tns:InsertUnsentDocketSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateVoucher">
      <wsdl:input message="tns:ValidateVoucherSoapIn" />
      <wsdl:output message="tns:ValidateVoucherSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomers">
      <wsdl:input message="tns:UpdateCustomersSoapIn" />
      <wsdl:output message="tns:UpdateCustomersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdProviderSoap" type="tns:AdProviderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://docketplace.com.au/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestAd">
      <soap:operation soapAction="http://docketplace.com.au/RequestAd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://docketplace.com.au/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUnsentDocket">
      <soap:operation soapAction="http://docketplace.com.au/InsertUnsentDocket" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVoucher">
      <soap:operation soapAction="http://docketplace.com.au/ValidateVoucher" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomers">
      <soap:operation soapAction="http://docketplace.com.au/UpdateCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdProviderSoap12" type="tns:AdProviderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://docketplace.com.au/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestAd">
      <soap12:operation soapAction="http://docketplace.com.au/RequestAd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://docketplace.com.au/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUnsentDocket">
      <soap12:operation soapAction="http://docketplace.com.au/InsertUnsentDocket" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateVoucher">
      <soap12:operation soapAction="http://docketplace.com.au/ValidateVoucher" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCustomers">
      <soap12:operation soapAction="http://docketplace.com.au/UpdateCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdProvider">
    <wsdl:port name="AdProviderSoap" binding="tns:AdProviderSoap">
      <soap:address location="https://docketplace.com.au/Adprovider.asmx" />
    </wsdl:port>
    <wsdl:port name="AdProviderSoap12" binding="tns:AdProviderSoap12">
      <soap12:address location="https://docketplace.com.au/Adprovider.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>